@font-face {
    font-family: 'KhKulen';
    src: url('../fonts/Kh-Koulen.TTF') format('truetype');
}

@font-face {
    font-family: 'KhContent';
    src: url('../fonts/KhmerOS_content.TTF') format('truetype');
}

body{
    font-family: KhContent;
}