@font-face {
    font-family: 'KhKulen';
    src: url('../fonts/Kh-Koulen.ttf') format('truetype');
}

@font-face {
    font-family: 'KhContent';
    src: url('../fonts/KhmerOS_content.ttf') format('truetype');
}

body{
    font-family: KhContent;
}

.font-KL{
    font-family: KhKulen !important;
}

.font-KC{
    font-family: KhContent;
}